
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}


.header {
    text-align: center;
}

span {
    display: inline-grid;

}

.back {
    backface-visibility: hidden;
}

@keyframes card {
    from {
        content: none;
        transform: rotate(0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}

.main {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: center;
}

.background {
    background-image: url("table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    height: 100%;
    position: center;
}

.timer {
    display: none;
}

.animate_timer {
    display: block;
    font: 40px "Roboto Light";
    text-align: center;
    animation: appear 1s forwards;
}

.animate_button {
    opacity: 100%;
    display: block;
}

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 100%
    }
}

.timer_box {
    border: white 1px solid;
    border-radius: 100px;
    color: white;
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    background: black;
}

.ind {
    text-align: center;
    line-height: 140px;

}

.card {
    position: relative;
    font-size: 5rem;
    text-align-all: center;
    width: 10rem;
    height: 10rem;
    perspective: 30rem;

}

.button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: scale(1.1);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
}

button:hover {
     cursor: pointer;
 }

button:after {
     content: "";
     display: block;
     position: absolute;
     width: 100%;
     height: 30%;
     border-radius: 50%;
     background-color: gray;
     opacity: 0.3;
     bottom: -30px;
}

.wrapper {
    text-align: center;
    font: 41px "Roboto Light";

}

.button:hover {
    transform: scale(1.03);
    transition-duration: 0.1s;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
}

.cursor {
    cursor: pointer;
}

.front {
    border: 3px solid white;
    border-radius: 12px;
    perspective: 600px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front_background {
    background: url("cards.png");
    background-size: cover;
}

.back {
    border: 3px solid white;
    border-radius: 12px;perspective: 600px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(180deg);
}

.back_background {
    background: white;
}

.no_display {
    opacity: 0;
    display: none;
    pointer-events: none;
}


@keyframes disappear {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
        pointer-events: none
    }

}

.no_item {
}

.back_none {
    border: 2px solid black;
    background: linear-gradient(45deg, white, red);
    line-height: 200%;
    perspective: 600px;
    transform-style: preserve-3d;
    transition: transform 1s;

    transform: rotateY(180deg);
    display: none;
}

.incas_front {
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(180deg);
}

.incas_back {
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(360deg);
}

.error_pair {
    background: linear-gradient(45deg, red, darkred);
}

.success_pair {
    background: linear-gradient(45deg, greenyellow, green);
}

.copyright {
    position: fixed;
    display: grid;
    margin-left: 86%;
    color: wheat;
    text-align: right;
    border-bottom-color: white;
    text-decoration: none;
}

.shadow {
    color: wheat;
    font: 80px Roboto;
    font-weight: bold;
    text-shadow:
            1px 0px 0 gray,
            2px 1px 0 gray,
            3px 2px 0 gray,
            4px 3px 0 gray,
            5px 4px 0 gray,
            6px 5px 0 gray,
            7px 6px 0 gray,
            1px 1px 0 gray,
            2px 2px 0 gray,
            3px 3px 0 gray,
            4px 4px 0 gray,
            5px 5px 0 gray,
            6px 6px 0 gray,
            7px 7px 0 gray;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
}